:host {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    height: 100vh;

    form {
        mat-form-field {
            width: 500px;

            .searchbar-container {
                display: flex;
                gap: 20px;

                button {
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }
}